<section class="offer first-item">
    <p class="heading">Special offer</p>
    <p class="subheading">up to - 40%</p>

    <div class="offer__actions">
        <button mat-flat-button>Learn more</button>
        <button mat-stroked-button>Buy now</button>
    </div>
</section>
<section class="offer second-item">
    <p class="heading">New collection</p>
    <p class="subheading">Chaise longues</p>

    <div class="offer__actions">
        <button mat-flat-button>Learn more</button>
        <button mat-stroked-button>Buy now</button>
    </div>
</section>
<section class="offer third-item">
    <p class="heading">Designer items</p>
    <p class="subheading">you'll fall in love with</p>

    <div class="offer__actions">
        <button mat-flat-button>Learn more</button>
        <button mat-stroked-button>Buy now</button>
    </div>
</section>
