<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/">HOME</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/login">LOGIN</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/register">REGISTER</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/shop">SHOP</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/contact">CONTACT</a>
        </li>
    </ul>
</nav>
