@use "@angular/material/prebuilt-themes/azure-blue.css";
@use "@angular/material" as mat;

$theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
        ),
    )
);

html {
    @include mat.core-theme($theme);
    @include mat.button-theme($theme);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__field {
            width: 100%;
        }

        &__button {
            width: 100%;

            &--invalid {
                border: 1px solid rgb(177, 177, 177);
                color: rgb(175, 175, 175);
            }
        }
    }
}
