<div class="auth">
    <div class="auth__container">
        <div class="form">
            <div class="form__top-bar">
                <p class="form__question">{{ buttonQuestion() }}</p>
                <button mat-button (click)="toggleAuthPage()">
                    {{ buttonMessage() }}
                </button>
            </div>
            <div class="form__content">
                @if (isLogin()) {
                    <app-login />
                } @else {
                    <app-register />
                }
            </div>
        </div>
        <div class="info">
            @if (isLogin()) {
                <p>Welcome to our online shop</p>
                <p><span class="info__accent">Login</span> to your account</p>
                <div>
                    <!-- <div>TODO: Add content</div> -->
                </div>
            } @else {
                <p>Welcome to our online shop</p>
                <p><span class="info__accent">Create</span> profile</p>
                <!-- <div>TODO: Add content</div> -->
            }
        </div>
    </div>
</div>
