$list: leather_sofa, chair, lamp, mountains;
$random-index: random(length($list));
$img: nth($list, $random-index);

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../../../../../public/backgrounds/#{$img}.jpg");
    background-size: cover;
    color: white;

    &__container {
        position: absolute;
        top: 7rem;
        display: flex;
        background-color: transparent;
        backdrop-filter: blur(0.625rem);
        height: 38.125rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0 0.625rem 2rem 0,
            rgba(0, 0, 0, 0.06) 0 0 0 0.0625rem;
        align-self: center;
        margin-right: 4.5rem;

        .form {
            $block: &;
            padding: 1rem;
            width: 25rem;

            &__top-bar {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 3rem;
                margin-right: 1rem;

                @at-root #{ $block }__question {
                    font-size: 0.875rem;
                    margin: 0;
                }
            }

            &__content {
                padding: 2rem;
            }
        }

        .info {
            $block: &;
            width: 25rem;
            background-color: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 1rem;
            flex: 1;
            opacity: 0.8;
            font-weight: 500;
            font-size: 1.125rem;

            &__accent {
                color: rgb(98, 73, 45);
            }

            &__graphics-container {
                width: 60%;
                display: flex;
                flex-direction: column;

                @at-root #{ $block }__graphic {
                    width: 10rem;
                    height: auto;
                    border-radius: 5rem;
                    transition: transform 0.3s;

                    &:nth-child(odd) {
                        align-self: flex-end;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
